body{
    background-color: #151d2e !important;
}

.disable
{
    display: none;
}

.enable
{
    display: block;
    cursor: pointer;
}

.fontSize
{
    font-size: 20px !important;
}

.logo
{
    height: 60px;
    background-image: url("../src/logo-exireum.png");
    background-position: 80%;
    background-size: 70%;
    background-repeat: no-repeat;
}

.alireza
{
    background-color: #22252a;
    background-image: url("../src/back.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header1
{
    background-color: #151d2e;
    box-shadow: 2px 0 10px #000;
}

.header2
{
    background-color: #151d2e;
}

.menu
{
}

.menu-in
{
    font-size: 18px;
}

.menu-in:hover
{
    text-decoration: none;
}

.activation
{
    font-weight: bold;
    border: 1px solid #ffc107;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

input , textarea , .border-div , button
{
    background-color: #151d2e;
    border: 2px solid #ffc107;
    color: #fff;
}

.ReactPasswordStrength-input
{
    width: 100% !important;
    font-size: 15px !important;
    padding: 12px 10px !important;
}

.hover-div:hover
{
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    animation: left 0.8s;
    left: 5%;
}

@keyframes left {0%{left: 0; background-color: #151d2e;} 100%{left: 5%; background-color: #ffc107;}}

.div-hover:hover
{
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    animation: right 0.8s;
    right: 5%;
}

@keyframes right {0%{right: 0; background-color: #151d2e;} 100%{right: 5%; background-color: #ffc107;}}

.user
{

}

.sub-user-none
{
    display: none;
}

.sub-user
{
    line-height: 40px;
    position: absolute !important;
    background-color: #151d2e;
    top: 80%;
    z-index: 2;
}

.sub-user a div
{
    border-radius: 10px;
    background-color: #4b3d10;
    cursor: pointer;
}

.sub-user div a div:hover
{
    color: #fff;
}

/*.sub-user div a div:hover*/
/*{*/
    /*animation: bg-color 0.8s;*/
    /*background-color: #ffc107;*/
/*}*/

/*@keyframes bg-color {0%{background-color: #151d2e;} 100%{background-color: #ffc107;}}*/

.name-user , .icon-user
{
    cursor: pointer;
}

.placholder
{
    left: 5%;
    width: auto;
    position: absolute !important;
    z-index: 1;
    top: 10%;
    background-color: #151d2e !important;
    font-size: 14px;
}

.placholder2
{
    left: 10%;
    width: auto;
    position: absolute !important;
    z-index: 1;
    top: -9px;
    background-color: #151d2e !important;
    font-size: 12px;
}

.hover-tab:hover
{
    background-color: #ffc107;
    cursor: pointer;
}

.icon-size
{
    height: 100%;
    width: 100% !important;
}

@media(max-width: 600px) {
    .logo
    {
        background-position: center;
        margin-bottom: 20px;
    }

    .menu
    {
        text-align: center !important;
        border: 2px solid #ffc107;
    }

    .menu-in
    {
        display: block;
        width: 90%;
        margin-left: 0 !important;
    }
}

.selected-dial-code
{
    color: #fff;
}

.cursor
{
    cursor: pointer;
}

.btc-img
{
    height: 50px;
    background-image: url("../src/btcbit_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.swtich-img
{
    height: 50px;
    background-image: url("../src/index2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cex-img
{
    height: 50px;
    background-image: url("../src/logo-square.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.select-color
{
    background-color: #4b3d10;
    border: 1px solid #4b3d10;
}

.tab-color
{
    background-color: #1f2942;
}

.border-div2
{
    height: 36px;
}

.border-div3
{
    border: 1px solid #1f2942;
    background-color: #1f2942;
    color: #ffc107;
}

.rounded2
{
    background-color: #1f2942;
    border-radius: 0.35rem !important;
}

.button-tab
{
    position: absolute;
    height: 45px;
    width: 45px;
    right: 48%;
    top: 55%;
    border-radius: 50%;
    z-index: 2;
    line-height: 45px;
    font-size: 22px;
}

.div-tab1
{
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
}

.div-tab2
{
    padding-left: 0.5rem !important;
    padding-right: 0 !important;
}

.border-tab
{
    border: 2px solid #ffc107;
}

.smallText
{
    font-size: 14px;
}

.icon1 , .icon2 , .icon3 , .icon4 , .icon5
{
    background-position: center;
    background-size: 55% 70%;
    background-repeat: no-repeat;
}

.icon1
{
    background-image: url("../src/icons/icon1.png");
}

.icon2
{
    background-image: url("../src/icons/icon2.png");
}

.icon3
{
    background-image: url("../src/icons/icon3.png");
}

.icon4
{
    background-image: url("../src/icons/icon4.png");
}

.icon5
{
    background-image: url("../src/icons/icon5.png");
}

.icon6
{
    height: 45px;
    background-image: url("../src/icons/icon6.png");
    background-position: center;
    background-size: 60% 50%;
    background-repeat: no-repeat;
}

.proInput
{
    border: 0 solid #000 !important;
}

@media(max-width: 800px) {
    .button-tab
    {
        right: 45%;
        top: 52%;
    }

    .div-tab1
    {
        padding-left: 0.5rem !important;
    }

    .div-tab2
    {
        padding-right: 0.5rem !important;
    }
}