body{
    background-color: #151d2e !important;
}

.disable
{
    display: none;
}

.enable
{
    display: block;
    cursor: pointer;
}

.fontSize
{
    font-size: 20px !important;
}

.logo
{
    height: 60px;
    background-image: url("../src/logo-exireum.png");
    background-position: 80%;
    background-size: 70%;
    background-repeat: no-repeat;
}

.header1
{
    background-color: #151d2e;
    box-shadow: 2px 0 10px #000;
}

.header2
{
    background-color: #151d2e;
}

.menu
{
    line-height: 60px;
}

.menu-in
{
    font-size: 18px;
}

.menu-in:hover
{
    text-decoration: none;
}

.activation
{
    font-weight: bold;
}

input , textarea , .border-div , button
{
    background-color: #151d2e;
    border: 2px solid #ffc107;
    color: #fff;
}

.ReactPasswordStrength-input
{
    width: 100% !important;
    font-size: 15px !important;
    padding: 12px 10px !important;
}

.hover-div:hover
{
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    animation: left 0.8s;
    left: 5%;
}

@keyframes left {0%{left: 0; background-color: #151d2e;} 100%{left: 5%; background-color: #ffc107;}}

.div-hover:hover
{
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    animation: right 0.8s;
    right: 5%;
}

@keyframes right {0%{right: 0; background-color: #151d2e;} 100%{right: 5%; background-color: #ffc107;}}

.user
{
    line-height: 60px;
}

.sub-user-none
{
    display: none;
}

.sub-user
{
    line-height: 40px;
    position: absolute !important;
    background-color: #151d2e;
    top: 98%;
    box-shadow: 0px 3px 4px #000;
    z-index: 2;
}

.sub-user a div
{
    border-radius: 20px;
    border: 2px solid #ffc107;
    cursor: pointer;
}

.sub-user a div:hover
{
    animation: bg-color 0.8s;
    background-color: #ffc107;
}

@keyframes bg-color {0%{background-color: #151d2e;} 100%{background-color: #ffc107;}}

.name-user , .icon-user
{
    cursor: pointer;
}

.placholder
{
    left: 5%;
    width: auto;
    position: absolute !important;
    z-index: 1;
    top: 10%;
    background-color: #151d2e !important;
    font-size: 14px;
}


@media(max-width: 600px) {
    .logo
    {
        background-position: center;
        margin-bottom: 20px;
    }

    .menu
    {
        text-align: center !important;
        border: 2px solid #ffc107;
    }

    .menu-in
    {
        display: block;
        width: 90%;
        margin-left: 0 !important;
    }
}